<div class="container mt-5">
  <div class="card shadow-sm rounded-4">
    <div class="card-header bg-dark text-white rounded-top-4">
      <h5 class="mb-0">Lista de Pacientes</h5>
    </div>

    <div class="card-body p-0">
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          *ngFor="let user of users"
        >
          <div>
            <span class="fw-bold">DNI:</span> {{ user.dni }}<br />
            <span class="fw-bold">Nombre:</span> {{ user.first_name }}<br />
            <span class="fw-bold">Apellido:</span> {{ user.last_name }}
          </div>
          <i class="bi bi-person-vcard fs-4 text-muted"></i> <!-- Bootstrap Icon -->
        </li>
      </ul>
    </div>
  </div>
</div>
