<!-- src/app/sidebar/sidebar.component.html -->
<div class="sidebar bg-dark text-white vh-100 p-4">
    <ul class="list-unstyled">
      <li>
        <a href="#" class="text-white d-block py-2"><i class="fa-solid fa-house"></i> Home</a>
      </li>
      <li>
        <a href="#" class="text-white d-block py-2"><i class="fa-solid fa-book"></i> Your Library</a>
      </li>
      <li>
        <a href="#" class="text-white d-block py-2"><i class="fa-solid fa-list"></i> Playlists</a>
      </li>
      <li>
        <a href="#" class="text-white d-block py-2"><i class="fa-solid fa-podcast"></i> Podcasts</a>
      </li>
      <li>
        <a href="#" class="text-white d-block py-2"><i class="fa-solid fa-heart"></i> Liked Songs</a>
      </li>

    </ul>
  </div>
  