<div class="container mt-5 w-50">
    <h2 class="text-center mb-4">Register</h2>
    <form (ngSubmit)="sendData()" class="row g-3">
  
      <div class="col-md-6">
        <label for="numeroSeguro" class="form-label">Insurance Number</label>
        <input type="text" class="form-control" id="numeroSeguro" [(ngModel)]="numeroSeguro" name="numeroSeguro" required>
      </div>
  
      <div class="col-md-6">
        <label for="correo" class="form-label">Email</label>
        <input type="email" class="form-control" id="correo" [(ngModel)]="correo" name="correo" required>
      </div>
  
      <div class="col-md-6">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dni" [(ngModel)]="dni" name="dni" required>
      </div>
  
      <div class="col-md-6">
        <label for="telefono" class="form-label">Phone</label>
        <input type="number" class="form-control" id="telefono" [(ngModel)]="telefono" name="telefono" required>
      </div>
  
      <div class="col-md-6">
        <label for="nombre" class="form-label">First Name</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
      </div>
  
      <div class="col-md-6">
        <label for="apellidos" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="apellidos" [(ngModel)]="apellidos" name="apellidos" required>
      </div>
  
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
  
      <div class="col-md-6">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
  
      <div class="col-md-6">
        <label for="fechaNacimiento" class="form-label">Birth Date</label>
        <input type="date" class="form-control" id="fechaNacimiento" [(ngModel)]="fechaNacimiento" name="fechaNacimiento" required>
      </div>
  
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary mt-3">Register</button>
      </div>
    </form>
  </div>
  