<nav class="navbar navbar-expand-lg navbar-dark py-3 px-4" style="background: linear-gradient(to right, #003366, #005bb5);">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/mySpotify.jpg" alt="spotify_logo" id="spotify_logo" height="40" class="me-2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Premium</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Privacy
          </a>
          <ul class="dropdown-menu dropdown-menu-dark bg-dark border border-secondary" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-white" href="#">Privacy Policy</a></li>
            <li><a class="dropdown-item text-white" href="#">Cookie Policy</a></li>
            <li><a class="dropdown-item text-white" href="#">GDPR Compliance</a></li>
            <li><a class="dropdown-item text-white" href="#">Terms of Service</a></li>
            <li><hr class="dropdown-divider bg-secondary"></li>
            <li><a class="dropdown-item text-white" href="#">Data Protection</a></li>
          </ul>
        </li>
      </ul>

      <!-- Search bar -->
      <form class="d-flex me-4">
        <input class="form-control me-2" style="background-color: #007acc; color: white; border: 1px solid #005bb5;" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

      <!-- Sign Up and Sign In bottons-->
       <!-- Botones de Sign Up y Sign In a la derecha -->
       <div class="d-flex">
        <!-- Sign Up Button -->
        <a href="#" class="btn btn-primary text-white me-3" role="button">
          <i class="fa-solid fa-user-plus"></i> Sign Up
        </a>
        
        <!-- Sign In Button -->
        <a href="#" class="btn btn-outline-light text-white" role="button">
          <i class="fa-solid fa-sign-in-alt"></i> Sign In
        </a>
      </div>
    </div>
  </div>
</nav>
